# Requirements for Streamlit book.
# To install, run 'pip install -r requirements.txt'
# Last updated: 2024-12-31
#
acceptlang
janome
jinja2
numpy
openai-whisper
opencv-python
openpyxl
pandas
pillow
pykakasi
requests
sacremoses
sentencepiece
streamlit
torch
transformers["ja"]
wordcloud
